/* CSS */

html{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: rgb(245,245,245);
}



/*  Banner with Nav bar  */

.banner{
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  background-color: white;
}

.banner .navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 1.5rem;
}

.navigation a{
  padding-left: 1rem;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}


.logo p:nth-child(3){
  font-weight: normal;
  color: grey;
}

@media only screen and (max-width: 480px){
  .banner .logo p{
    display: none;
  }

  .banner .navigation .desktop{
    display: none;
  }

  .banner{
    justify-content: center;
  }

  .banner .navigation img{
    padding-right: 1.5rem;
  }
}

@media only screen and (min-width: 480px){
   .banner .navigation img{
    display: none;
  }
}
