/* CSS */

html{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: rgb(211,211,211);
}

.left{
  align-items: left;
}

.main{
  padding-bottom: 1.5rem;
}

.main h1{
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.6;
  line-height: 2.25rem;
  padding-bottom: 1.5rem;
}

.main p{
  font-size: 1rem;
  opacity: 0.6;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}

/*  navbar  */

.navbar{
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar .navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 1.5rem;
}

.navigation a{
  padding-left: 1rem;
  transition: color 300ms;
}

.navigation a:hover{
  color: rgb(0, 191, 255);
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}


.logo p:nth-child(3){
  font-weight: normal;
  color: grey;
}

@media only screen and (max-width: 480px){
  .navbar .logo p{
    display: none;
  }

  .navbar .navigation .desktop{
    display: none;
  }

  .navbar{
    justify-content: center;
  }

  .navbar .navigation img{
    padding-right: 1.5rem;
  }

  .desktop{
    display: none;
  }

  .banner{
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px){
   .navbar .navigation img{
    display: none;
  }
}
 /* Banner section */
 .banner{
   display: flex;
   align-items: center;
   width: 100%;
   padding: 6rem 1.5rem 2rem 1.5rem;
 }

.banner img{
  max-width: 60%;
  height: auto;
  display: block;
}

.banner .learn{
  padding-left: 1.5rem;
}

.banner .learn button{
  color: white;
  text-align: center;
  border: 0;
  background-color: rgb(128,128,128);
  padding: 0.5rem 6rem;
  border-radius: 4px;
  transition: background-color 300ms linear;
}

.banner .learn button:hover{
  background-color: rgb(0,191,255);
}
